body {
    background: gray;
    font-family: Tahoma, Arial, sans-serif;
}

.cafeheading {
    background-color: #F2CD88;
    color: white;
    font: 32px Garamond, Helvetica, serif;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
.coffeemug {
    max-width: 65px;
    height: auto;
}

table {
    width: 50%;
    background-color: #F2CD88;
    border: 6px solid #F26B5E;
    margin: auto;
    width: 50%;
    padding: 10px;
}

thead {
    text-align: left;
}

label {
    display: block;
}

#submit-btn {
    display: block;
    border-radius: 40%;
}